
<div class = "todo_items"" <% todo_item.completed? ? 'completed' : '' %>" data-item-id = "<%= todo_item.destination_id %> "value = "<%= todo_item.position %>" data-ar-id = "<%= todo_item.id %>"/>

	<h3 class = "name"><%= todo_item.name %></h3>
	<div>
			 <p><%= link_to "Delete: #{todo_item.name}", todo_item, method: :delete, data: { confirm: 'Are you sure?' } %></p>

			<p style = "color:white;"><%= link_to image_tag("thumbs_up.jpg"), like_todo_item_path(todo_item.id), :remote => true, method: :post %>

		 <%= "#{todo_item.likes.count} Likes" %></p>
				<% if todo_item.likes.first != nil  %>

					<% todo_item.users.uniq.each do |l| %>

					 <p style = "color:white;"><%= "Liked By #{l.name}" %> </p>

					<% end %>
			<% end %>

		 	<h3 style  ="color: white;">  <%= "#{todo_item.comments.count} Comments" %> </h3>
		 			<div class="comments-<%= todo_item.id %>">

				<% todo_item.comments.each do |comment| %>

					<%= render comment %>

				<% end %>


					</div>



	<%= render :partial => 'comments/form', :locals => { :item => todo_item } %>

	</div>
</div>
