<div id = "nav">

       <%= render :partial => 'destinations/form' %>


</div>
<div id = "chart" style = "height:500; width: 500px; z-index:1; position: relative;  float: right;" >

</div>

<div class = "all">
    <% @destinations.each do |d| %>

       <%= render d %>

    <% end %>
</div>


<div id = "map-canvas"/>
</div>


<div class = "search-area">
<input type="search" id = "search-box" placeholder = "Search Term..." />
<div class = "apple">
</div>
</div>

<script>
createTable();


$("#chart").click(function () {
   $(this).fadeOut();
   console.log("Hello")
;});

</script>