
<% todo_items.each do |i| %>
$(".destination-<%= i.destination.id %>").html("");
<% end %>


<% todo_items.each do |i| %>
	$('.destination-<%= i.destination.id %>').append('<%= escape_javascript(render i) %>')

<% end %>