<div class = "destination_div">
	<div class = "destination_name">
		<h2><%= destination.name %></h2>
		<%= link_to "Remove?", destination, method: :delete, data: { confirm: 'Are you sure?' } %>
</div>

		<div id ="main">
	<p><%= link_to 'Sort By Name', todo_items_path(:order => :name), :remote => true, :locals => { :destination_id => destination.id} %></p>

		<p><%= link_to 'Sort Descending', todo_items_path(:order => :'name desc'), :remote => true, :locals => { :destination_id => destination.id} %></p>




<div class ="destination-<%= destination.id %>">

 <ol>


		<div class = "sortable">
		<% destination.todo_items.each do |d| %>

			<li>

			<%= render d %>
			</li>


		<% end %>
	</div>
<ol>

	</div>
	<%= render :partial => 'todo_items/form', :locals => { :destination_id => destination.id } %>

	</div>
</div>