<div class = "destination_form">

		<h3>New Destination</h3>
<%= form_for(Destination.new, :remote => true) do |f| %>





<div class = "field">

		<%= f.text_field :name %>

</div>


<br/>
<div class = "field">
		<%= f.submit  %>

</div>
<br/>

<% end %>


</div>
