/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */


body{
		background-color: lightblue;
		text-align: center;
}

#form_map{
	margin: 0 auto;
	  	z-index: 0;
}

.toggle{

	color: blue;


}

h3.name {

color: white;
border: 1px solid white;
width: 80%;
font-size: 30px;
background-color: rgba(0,50,150,.7);
 z-index: 1;
 margin: 20px auto;


}

#nav{
	margin-left: 98px;
	width: 400px;
	height: 150px;
	background-color: rgba(0,0,0,.6);
	border: 3px solid white;
	 -moz-box-shadow:    3px 5px 3px 5px #000;
  	-webkit-box-shadow: 3px 5px 3px 5px #000;
  	box-shadow:         3px 5px 8px 2px #000;
  	position: relative;
  	z-index: 2;
  		color: white;


}

#nav > h1 {
	text-align: center;
	font-size: 50px;
	padding-top: 25px;
	font-family: Futura;
}

a {
	text-decoration: none;
	font-weight: bold;
	color: rgba(0,255,0,1);
}


