// Place all the styles related to the Comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



div.comment{
	width: 300px;
	height:50px;
	padding-top: 25px;
	border: 1px solid black;
	text-align: center;
	margin: 0 auto;
	background-color: #C9FFD0;
	border-radius: 10px;


}

div#main {
	border: 1px solid black;
	background-color: rgba(0,0,0,.6);
	width: 398px;
	height: 700px;
	color: black;
	-moz-box-shadow:    inset 0 0 10px #000000;
   -webkit-box-shadow: inset 0 0 10px #000000;
   box-shadow:         inset 0 0 10px #000000;
   overflow: auto;
   margin-bottom: 20px;
   margin-left: 2px;
   	z-index: 1;
position: relative;
}





.toggle {
	border-top: 4px white solid;
	border-bottom: 4px white solid;
	width: 100%;
	margin: 0 auto;
	color: rgba(0,255,0,1);

}

