// Place all the styles related to the destinations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#map-canvas {
	z-index: 0;
	top: 0;
	left: 0;
  	height:  100%;
	width: 100%;
  	position: absolute;

}

.destinations{
	height: 100px;
	width: 200px;
	border: 1px solid black;
	background-color: white;
	 z-index: 1;


}

.destination_name{
	height: 100px;
	width: 400px;
	background-color: rgba(0,0,0,.6);
	-moz-box-shadow:    inset 0 0 10px #000000;
   -webkit-box-shadow: inset 0 0 10px #000000;
   box-shadow:         inset 0 0 10px #000000;
   border: 1px solid black;
	color: white;

	 z-index: 1;
	 position: relative;
}
.destination_name:hover{
	background-color: rgba(0,0,0,1);

	 -webkit-box-shadow: inset   15px 15px -10px rgba(255,255,255,1),
                        inset 0 -15px 15px -15px rgba(255,255,255,1);
     -webkit-box-shadow: inset 0  15px 15px -10px rgba(255,255,255,1),
                        inset 0 -15px 15px -15px rgba(255,255,255,1);
}

.search-area{
	top: 25px;
	right: 50px;
	-moz-box-shadow:    inset 0 0 10px #000000;
   -webkit-box-shadow: inset 0 0 10px #000000;
   box-shadow:         inset 0 0 10px #000000;
   border: 1px solid black;
	background-color: rgba(0,0,0,.6);
	min-height: 100px;
	width: 400px;
	 z-index: 1;
	 position: absolute;
	 float: right

}


.search-area > input{
	margin-top: 20px;
}

.destination_div{

margin-left: 100px;
  	z-index: 1;


}

.destination_name > a {
	color: red;
}


