// Place all the styles related to the TodoItems controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.todo_form {
	border: 1px solid black;
	width: 300px;
	background-color: white;
	margin: 0 auto;
	margin-bottom: 10px;
}

.sortable{
	border: 1px solid white;
	 -webkit-box-shadow: inset   15px 15px -10px rgba(255,255,255,1),
                        inset 0 -15px 15px -15px rgba(255,255,255,1);
     -webkit-box-shadow: inset 0  15px 15px -10px rgba(255,255,255,1),
                        inset 0 -15px 15px -15px rgba(255,255,255,1);
	list-style: none;
	border-radius: 2px;
	margin-right: 30px;
	background-color: rgba(0,0,0, .3);
}

img {
	height: 20px;
	width: 20px;
}