<!DOCTYPE html>
<html>
<head>
  <title>Bucketlist</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

  <link rel="stylesheet" href="http://cdn.oesmith.co.uk/morris-0.4.2.min.css">
<script src="//cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"></script>
<script src="http://cdn.oesmith.co.uk/morris-0.4.2.min.js"></script>



<script type = "text/javascript" src= "https://maps.googleapis.com/maps/api/js?key=AIzaSyC74gnSe7p17ulcZUzgPJHxYurGg2bjRYg&sensor=false">
</script>




<script>
items = <%= raw(TodoItem.all.to_json) %>;

  $(document).ready(function() {
    initialize();
      <% TodoItem.all.each do |item| %>
         addMarker(<%=item.latitude%>, <%=item.longitude%>, '<%=item.name%>');

         <% end %>


      });




</script>


<%= yield %>

</body>
</html>
